* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /** background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; **/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  border: 1px solid red;
  margin: auto;
  text-align: center;
  margin-top: 56px;
}

#profile {
  padding: 24px;
}
#profile img {
  width: 122px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul li a {
  border: 1px solid red;
}
