body {
  /** background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; **/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  margin: auto;
}

#profile img {
  width: 112px;
  display: none;
}
